@model IEnumerable<Financier.Web.ViewModels.Statement>

<link href="~/css/site.css" rel="stylesheet">


@foreach (var month in Model)
{
  <div>
    @month.At.ToString("MMMM yyyy")
  </div>
  <div>
    <div>
      <h1>
        Assets:&nbsp;@(month.GetAssetTotal())
      </h1>

      <h1>
        Expense:&nbsp;@(month.GetExpenseTotal())
      </h1>

      <h1>
        Profit:&nbsp;@(month.GetProfitTotal())
      </h1>
    </div>
  </div>
}
