@model IEnumerable<System.DateTime>

<p>
  All Items by Year-Month
</p>

<div>
  @foreach (var at in Model)
  {
    <div class="at">
      <a href="/AllItems/Get/year/@at.Year/month/@at.Month">@at.Year-@at.Month</a>
    </div>
  }
</div>
