.charts .chart rect {
    fill: steelblue;
}

.charts .chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: middle;
}

.axis text {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.details {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    margin-top: 50px;
}

.details .items {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    margin-left: 100px;
}
