.tag-name input, .tag-name div {
  display: inline
}

.charts .chart rect {
  fill: steelblue;
}

.charts .chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.charts .items {
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
}

.charts .items .tags {
  max-width: 25%;
}

.charts .items .chart {
  max-width: 75%;
}
