@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

.DetailedCashFlow {
  .time-navigation {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    row-gap: 1.5em;

    .yearly-navigation {
      display: flex;
      flex-flow: wrap;
      flex-direction: row;
      row-gap: 0.5em;
      column-gap: 0.5em;
    }
  }

  .results {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;

    .criteria {
      width: 20%;

      .checkbox {
        input, label {
          cursor: pointer;
        }

        &:first-of-type {
          padding-top: 10px;
        }
      }
    }

    .graph {
      width: 80%;

      .chart {
        .amount {
          display: block;

          &.hidden {
            display: none;
          }
        }

        .tick {
          font-size: 6px;

          text {
            text-anchor: end;
          }
        }
      }
    }
  }
}

@mixin values($first-child-width, $width, $last-child-width) {
  .header {
    div {
      font-size: 20px;
      width: $width;
      padding-left: 10px;
      padding-right: 10px;
    }

    div:first-child {
      width: $first-child-width;

      padding-left: 0px;
      padding-right: 10px;
      border-right-color: black;
      border-right-style: solid;
      border-right-width: 1px;
    }

    div:last-child {
      width: $last-child-width;
      padding-right: 0px;
    }

    div.number {
      text-align: right;
    }

    display: flex;

    text-align: left;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
  }

  .items {
    .item {
      color: black;
      cursor: default;

      &.clickable {
        cursor: pointer;
      }

      &.not-clickable {
        cursor: not-allowed;
      }
    }

    .item:hover {
      color: white;
      background-color: darkgrey;
    }


    .item {
      div, input {
        padding: 2px 10px 2px 10px;
        width: $width;
        font-family: monospace;
      }

      :first-child {
        width: $first-child-width;

        padding: 2px 10px 2px 0px;
        border-right-color: black;
        border-right-style: solid;
        border-right-width: 1px;
      }

      :last-child {
        padding-right: 0px;
        width: $last-child-width;
      }

      .number {
        text-align: right;
      }

      input.tags {
        border: none;
        color: white;
        background-color: grey;
      }

      .tags {
        &.non-interactive {
          cursor: pointer;
        }

        &.interactive {
          font-family: monospace;
        }

        &.displayed {
          display: block;
        }

        &.none {
          display: none;
        }
      }

      display: flex;
      flex-direction: row;
      text-align: left;

      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: blue;
    }
  }

  .total {
    &:hover {
      color: white;
      background-color: darkgrey;
    }

    div {
      padding: 7px 10px 2px 10px;
      width: $width;
      font-family: monospace;
    }

    div:first-child {
      width: $first-child-width;

      padding: 7px 10px 2px 0px;
      border-right-color: black;
      border-right-style: solid;
      border-right-width: 1px;
    }

    div.number {
      text-align: right;
    }

    div:last-child {
      padding-right: 0px;
      width: $last-child-width;
    }

    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: left;
  }
}

// TODO: Move into a mixin!
.values {
  @include values(40%, 20%, 20%);
}

.itemized-values {
  @include values(8%, 18.4%, 18.4%);
}
