@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Roboto";
}

.main-header {
  padding: 50px 50px;
  font-family: "Roboto";
  font-size: 70px;
  text-align: center;
}

.errors {
  .error {
    background-color: red;
    color: white;
    font-size: 16px;
    height: 19px;
    width: 500px;
  }
}

.welcome {
  .date-range {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;

    .date-picker {
      display: flex;
      width: 50%;

      .container {
        flex-direction: row;
        padding: 0 30% 0 30%;
      }
    }
  }

  .submission {
    a {
      font-size: 16px;
      width: 200px;
      height: 19px;
    }
  }
}

.monthly-cashflow {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;

  .graph {
    width: 75%;

    .chart {
      .tick {
        font-size: 6px;

        text {
          text-anchor: end;
        }
      }
    }
  }
}

.detailed-cashflow {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;

  .criteria {
    width: 25%;
  }

  .graph {
    width: 75%;

    .chart {
      .tick {
        font-size: 6px;

        text {
          text-anchor: end;
        }
      }
    }
  }
}

.values {
  .header {
    div {
      font-size: 20px;
      width: 20%;
    }

    div:first-child {
      width: 39%;

      border-right-color: black;
      border-right-style: solid;
      border-right-width: 1px;
    }

    div:last-child {
    }

    display: flex;
    flex-flow: wrap;

    justify-content: space-between;
    text-align: left;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
  }

  .items {
    .item {
      text-color: black;
      color: black;
    }

    .item:hover {
      background-color: darkgrey;
    }

    .item:first-child {
      div {
        padding: 7px 0px 2px 0px;
      }

      div:first-child {
        padding: 7px 0px 2px 0px;
      }
    }

    .item {
      div {
        padding: 2px 0px 2px 0px;
        width: 20%;
        font-family: monospace;
      }

      div:first-child {
        width: 39%;

        padding: 2px 0px 2px 0px;
        border-right-color: black;
        border-right-style: solid;
        border-right-width: 1px;
      }

      div:last-child {
        padding-right: 0px;
      }

      display: flex;
      flex-flow: wrap;
      flex-direction: row;

      justify-content: space-between;
      text-align: left;

      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: blue;
    }
  }

  .total {
    &:hover {
      background-color: darkgrey;
    }

    div {
      padding: 7px 0px 2px 0px;
      width: 20%;
      font-family: monospace;
    }

    div:first-child {
      width: 39%;

      padding: 7px 0px 2px 0px;
      border-right-color: black;
      border-right-style: solid;
      border-right-width: 1px;
    }

    div:last-child {
      padding-right: 0px;
    }

    display: flex;

    flex-flow: wrap;
    flex-direction: row;

    font-size: 20px;

    justify-content: space-between;
    text-align: left;

  }
}
