@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

body {
  font-family: "Roboto";
}

.main-header {
  padding: 50px 50px;
  font-family: "Roboto";
  font-size: 70px;
  text-align: center;
}

.errors {
  .error {
    background-color: red;
    color: white;
    font-size: 16px;
    height: 19px;
    width: 500px;
  }
}

.time-navigation {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  row-gap: 1.5em;

  .yearly-navigation {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    row-gap: 0.5em;
    column-gap: 0.5em;
  }

  .button {
    padding: 0.75em 0.375em;
    border: solid;
    border-width: 1.5px;
    width: 14em;
    text-align: center;

    border-color: blue;
    color: blue;
    cursor: pointer;
  }
}

.welcome {
  .date-range {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;

    .date-picker {
      display: flex;
      width: 50%;

      .container {
        flex-direction: row;
        padding: 0 30% 0 30%;
      }
    }
  }

  .submission {
    padding-top: 100px;

    .navigation {
      display: flex;
      flex-flow: wrap;
      flex-direction: row;
      column-gap: 30px;

      .button {
        padding: 0.75em 0.375em;
        border: solid;
        border-width: 1.5px;
        width: 14em;
        text-align: center;

        &.enabled {
          border-color: blue;
          color: blue;
          cursor: pointer;
        }

        &.disabled {
          border-color: grey;
          color: grey;
          cursor: initial;
        }
      }
    }

    a {
      font-size: 16px;
      width: 200px;
      height: 19px;

      color: blue;
      text-decoration-line: initial;
    }
  }
}

.monthly-cashflow {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;

  .graph {
    width: 100%;

    .chart {
      .label {
        font-size: 6px;
      }

      .tick {
        font-size: 6px;
      }

      .x-axis {
        text {
          text-anchor: middle;
        }
      }

      .y-axis {
        .label {
          text-anchor: end;
        }
      }
    }
  }
}

.detailed-cashflow {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;

  .criteria {
    width: 20%;

    .checkbox:first-of-type {
      padding-top: 10px;
    }
  }

  .graph {
    width: 80%;

    .chart {
      .tick {
        font-size: 6px;

        text {
          text-anchor: end;
        }
      }
    }
  }
}

.values {
  .header {
    div {
      font-size: 20px;
      width: 20%;
    }

    div:first-child {
      width: 39%;

      border-right-color: black;
      border-right-style: solid;
      border-right-width: 1px;
    }

    div:last-child {
    }

    display: flex;
    flex-flow: wrap;

    justify-content: space-between;
    text-align: left;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
  }

  .items {
    .item {
      text-color: black;
      color: black;
    }

    .item:hover {
      color: white;
      background-color: darkgrey;
    }

    .item:first-child {
      div {
        padding: 7px 0px 2px 0px;
      }

      div:first-child {
        padding: 7px 0px 2px 0px;
      }
    }

    .item {
      div {
        padding: 2px 0px 2px 0px;
        width: 20%;
        font-family: monospace;
      }

      div:first-child {
        width: 39%;

        padding: 2px 0px 2px 0px;
        border-right-color: black;
        border-right-style: solid;
        border-right-width: 1px;
      }

      div:last-child {
        padding-right: 0px;
      }

      display: flex;
      flex-flow: wrap;
      flex-direction: row;

      justify-content: space-between;
      text-align: left;

      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: blue;
    }
  }

  .total {
    &:hover {
      color: white;
      background-color: darkgrey;
    }

    div {
      padding: 7px 0px 2px 0px;
      width: 20%;
      font-family: monospace;
    }

    div:first-child {
      width: 39%;

      padding: 7px 0px 2px 0px;
      border-right-color: black;
      border-right-style: solid;
      border-right-width: 1px;
    }

    div:last-child {
      padding-right: 0px;
    }

    display: flex;

    flex-flow: wrap;
    flex-direction: row;

    font-size: 20px;

    justify-content: space-between;
    text-align: left;

  }
}
