@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.header {
  padding: 100px 100px;
  font-family: "Roboto";
}

.date-range {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;

  .date-picker {
    width: 50%;
  }
}

.better-together {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;

  margin-bottom: 50px;

  .criteria {
    width: 25%;
  }

  .graph {
    width: 75%;

    .chart {
      .tick {
        font-size: 6px;

        text {
          text-anchor: end;
        }
      }
    }
  }
}

.values {
  .header {
    div {
      font-size: 20px;
      width: 20%;
    }

    div:first-child {
      width: 39%;

      border-right-color: black;
      border-right-style: solid;
      border-right-width: 1px;
    }

    div:last-child {
    }

    display: flex;
    flex-flow: wrap;

    justify-content: space-between;
    text-align: left;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
  }

  .items {
    .item {
      div {
        padding: 2px 0px 2px 0px;
        width: 20%;
        font-family: monospace;
      }

      div:first-child {
        width: 39%;

        border-right-color: black;
        border-right-style: solid;
        border-right-width: 1px;
      }

      div:last-child {
        padding-right: 0px;
      }

      display: flex;
      flex-flow: wrap;
      flex-direction: row;

      justify-content: space-between;
      text-align: left;

      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: blue;
    }

    padding-top: 5px;
  }

  .total {
    div {
      padding: 2px 0px 2px 0px;
      width: 20%;
      font-family: monospace;
    }

    div:first-child {
      width: 39%;

      border-right-color: black;
      border-right-style: solid;
      border-right-width: 1px;
    }

    div:last-child {
      padding-right: 0px;
    }

    display: flex;

    flex-flow: wrap;
    flex-direction: row;

    padding-top: 5px;
    font-size: 20px;

    justify-content: space-between;
    text-align: left;

  }
}
