@mixin values($first-child-width, $width, $last-child-width) {
  .header {
    div {
      font-size: 20px;
      width: $width;
      padding-left: 10px;
      padding-right: 10px;
    }

    div:first-child {
      width: $first-child-width;

      padding-left: 0px;
      padding-right: 10px;
      border-right-color: black;
      border-right-style: solid;
      border-right-width: 1px;
    }

    div:last-child {
      width: $last-child-width;
      padding-right: 0px;
    }

    div.number {
      text-align: right;
    }

    display: flex;

    text-align: left;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
  }

  .items {
    .item {
      color: black;
      cursor: default;

      &.clickable {
        cursor: pointer;
      }

      &.not-clickable {
        cursor: not-allowed;
      }
    }

    .item:hover {
      color: white;
      background-color: darkgrey;
    }


    .item {
      div, input {
        padding: 2px 10px 2px 10px;
        width: $width;
        font-family: monospace;
      }

      :first-child {
        width: $first-child-width;

        padding: 2px 10px 2px 0px;
        border-right-color: black;
        border-right-style: solid;
        border-right-width: 1px;
      }

      :last-child {
        padding-right: 0px;
        width: $last-child-width;
      }

      .number {
        text-align: right;
      }

      input.tags {
        border: none;
        color: white;
        background-color: grey;
      }

      .tags {
        &.non-interactive {
          cursor: pointer;
        }

        &.interactive {
          font-family: monospace;
        }

        &.displayed {
          display: block;
        }

        &.none {
          display: none;
        }
      }

      display: flex;
      flex-direction: row;
      text-align: left;

      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: blue;
    }
  }

  .total {
    &:hover {
      color: white;
      background-color: darkgrey;
    }

    div {
      padding: 7px 10px 2px 10px;
      width: $width;
      font-family: monospace;
    }

    div:first-child {
      width: $first-child-width;

      padding: 7px 10px 2px 0px;
      border-right-color: black;
      border-right-style: solid;
      border-right-width: 1px;
    }

    div.number {
      text-align: right;
    }

    div:last-child {
      padding-right: 0px;
      width: $last-child-width;
    }

    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: left;
  }
}

.Itemized-Values {
  @include values(8%, 18.4%, 18.4%);
}
