@model IEnumerable<Financier.Common.Expenses.MonthlyStatement>

<link href="~/css/site.css" rel="stylesheet">

@foreach (var item in Model)
{
  <div>
    <h1>
      Assets:&nbsp;@(item.GetAssetTotal())
    </h1>

    <h1>
      Expense:&nbsp;@(item.GetExpenseTotal())
    </h1>

    <h1>
      Profit:&nbsp;@(item.GetProfitTotal())
    </h1>
  </div>
}
